/* IMPORTAMOS FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krub:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

.body   {
    background-color: #060016
}

/* HEADER */


.header-container {
    background-color: #FCF944;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
    height: 70px;
    align-self: center;
    padding-top: 0;
    position: relative;
    right: 3.6rem;
}

h1{
    color:#060016;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    align-self: center;
    padding-right: 3rem;
    margin-bottom: 0;
    text-decoration: solid;
}

h2{
    color:#dee2e6;
    font-family: 'Bebas Neue';
}
h3{
   font-family: 'Bebas Neue';
   color: #dee2e6;
}

.dropdown-item{
    color: #dee2e6;
}

ul.dropdown-menu{
    background-color:#060016;
    border-color: #FCF944;
}
/* CAROUSEL */

.container-fluid    {
    --bs-gutter-x: 0rem;
}

/* TARJETITAS */

a{
    text-decoration: none;
    color: #dee2e6;
    font-family: 'Bebas Neue';
}

.tarjetitas {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.tarjetitas-grid    {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.tarjetitas-grid > div{
    height: 7rem;
    background-size: cover;
    color: #dee2e6;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    -webkit-text-stroke: thin;
    text-align:initial;
    padding-left: 1rem;
    padding-bottom: 9rem;
}

.tarjetitas-grid > div:nth-child(1) {
    background-image: url(../Img/arcor.500.png);
}
.tarjetitas-grid > div:nth-child(2) {
    background-image: url(../Img/bebidas.cel.png);
}
.tarjetitas-grid > div:nth-child(3) {
    background-image: url(../Img/gmitas.cel.png);
}
.tarjetitas-grid > div:nth-child(4) {
    background-image: url(../Img/box.cel.png);
}
.tarjetitas-grid > div:nth-child(5) {
    background-image: url(../Img/oso.cel.png);
}
.tarjetitas-grid > div:nth-child(6) {
    background-image: url(../Img/taza.cel.png);
}
.tarjetitas-grid > div:nth-child(7) {
    background-image: url(../Img/gmitas.cel.png);
}

/* BOTON */

.btn    {
    --bs-btn-color: #060016;
    --bs-btn-bg: #fcf944;
    --bs-btn-border-color: #060016;
    --bs-btn-hover-color: #f8f9fa;
    --bs-btn-hover-bg: #060016;
    --bs-btn-hover-border-color: #fcf944;
}
.btn-outline-succes {
    background-color:#060016;
    border-color:#fcf944;
    --bs-btn-color: #dee2e6;
    --bs-btn-border-color: #fcf944;
}
.btn-close  {
    background-color:#FCF944;
    border-color:#060016;
}
.btn:hover  {
    background-color:#060016;
    color: #dee2e6;
}

    /* MAIN-SOBRENOSOTROS */

    p{
        color: #dee2e6;
        font-family: krub;
    }

/* MAIN CATALOGO */

.rounded {
    height: 250px;
}

.catalogo__container {
    display: flex;
    flex-direction: column;
}
.catalogo__h2 {
    color: azure;
}
.catalogo__container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 10rem;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}
.catalogo__container3 {
    display: flex;
    flex-direction: column;

}
.catalogo__container3 span{
    color: withe;
}

.nav__catalogo {
    height: 15vh;
    background-color: #e9e770;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu__catalogo {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.menu__catalogo a {
    text-decoration: none;
    color: #060016;
    font-size: 1.3rem;

}
img.img.catalogo__container{
    width: 20px;
    height: 20px;
}
img.img.catalogo{
    width: 270px;
    border-radius: 1rem;
}

/* MEDIA-QUERI-CELULAR */

@media screen and (min-width: 480px) {
    .logo{
        width: 70px;
        height: 70px;
    }
}

/* MEDIA-QUERI-TABLET */

@media screen and (max-width: 780px) {
    .titulo{
        font-size: 0;
    }
    .logo{
        position: initial;
    }
    .parrafo    {
        font-size: 0;
    }
}


/* MAIN CARRITO */

.div-carrito {
    color: aliceblue;
    font-family: 'Bebas Neue', sans-serif;
}

.section-carrito {
    color: aliceblue;
    font-family: 'Krub', sans-serif;
    text-align: center;
    padding: 11rem;
}
.section-carrito p{
    color: #e9e770;
    padding: 1rem;
}


/* FOOTER */

.footer {
    background-color: #F7EE7B;
    font-family: 'Krub', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.footer__redes {
    width: 100px;
    height: 80px;
}
.footer__lista1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin: 3rem;
}

.footer__lista1 a{
    color: #060016;
}
.footer__lista2 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-top: 2px solid black;
}