.footer {
    background-color: #F7EE7B;
    font-family: 'Krub', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;

    .footer__lista1 {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 5rem;
        margin: 3rem;
        margin-left: 1rem;
    }
    .footer__lista1 a{
        color: $colorBody;
    }
    .footer__lista2 {
        list-style: none;
        display: flex;
        justify-content: center;
        font-size: 0.9rem;
        gap: 1rem;
        border-top: 2px solid black;
    }
}