nav{
    background-color: $colorNav;
}
.offcanvas  {
    background-color: $colorBody;
    padding-right: 1rem;
}
.header-container {
    background-color: $colorNav;
    height: 13vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 70px;
    height: 70px;
    align-self: center;
    padding-top: 0;
    position: relative;
    right: 3.6rem;
}

h1{
    color: $colorBody;
    text-align: left;
    text-transform: uppercase;
    font-family: $fontBebas;
    font-size: 2rem;
    align-self: center;
    padding-right: 3rem;
    margin-bottom: 0;
    text-decoration: solid;
}

h2{
    color:#dee2e6;
    font-family: $fontBebas;
}
h3{
   font-family: $fontBebas;
   color: #dee2e6;
}

.dropdown-item{
    color: #dee2e6;
}

ul.dropdown-menu{
    background-color:$colorBody;
    border-color: $colorNav;
}
li{
    gap: 1rem;
    padding-right: 1rem;
}
a{
    color: #dee2e6;
}
hr{
    background-color: #dee2e6;
}