// CAROUSEL

.body   {
    background-color: $colorBody;
}


.container-fluid    {
    --bs-gutter-x: 0rem;

    h2{
        color:#dee2e6;
        font-family: $fontBebas;
    }
}

// MAIN-SOBRENOSOTROS

p{
    color: #dee2e6;
    font-family: krub;
}

// MAIN-CATALOGO

.rounded {
    height: 250px;
}

.catalogo__container {
    display: flex;
    flex-direction: column;
}
.catalogo__h2 {
    color: azure;
}
.catalogo__container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    gap: 10rem;
    justify-content: center;
    margin: 3rem 0 3rem 0;
}
.catalogo__container3 {
    display: flex;
    flex-direction: column;

}
span{
    color:#dee2e6;
}

.nav__catalogo {
    height: 15vh;
    background-color: $colorNav;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.menu__catalogo {
    display: flex;
    list-style: none;
    gap: 1rem;
}
.menu__catalogo a {
    text-decoration: none;
    color: $colorBody;
    font-size: 1.3rem;

}
img.img.catalogo__container{
    width: 20px;
    height: 20px;
}
img.img.catalogo{
    width: 270px;
    border-radius: 1rem;
}

// MAIN-SUBSCRIBETE

label{
    color: #dee2e6;
    padding-top: 1rem;
}

// MAIN-CARRITO

.container-carrito{
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .container-texto    {
        text-align: center;
    }
    .btn    {
        --bs-btn-color: #060016;
        --bs-btn-bg: #fcf944;
        --bs-btn-border-color: #060016;
        --bs-btn-hover-color: #f8f9fa;
        --bs-btn-hover-bg: #060016;
        --bs-btn-hover-border-color: #fcf944;
    }
}